$light-grey: #F2F2F2;
$dark-grey: #DBDBDB;
$body-color: #333333;
$body-color-light: #616161;

@import 'mixins';

body {
  background-color: $light-grey;
  font: 14px Helvetica, Arial, sans-serif;
  color: $body-color;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  margin: 0 0 20px;
  width: 100%;
  border-bottom: 1px solid $dark-grey;
}

a {
  color: #8F0000;
  text-decoration: none;
  &:hover {
    color: $body-color-light;
    text-decoration: underline;
  }
}

.container {
  width: 965px;
  margin: 0 auto;
}

.header {
  @include block-grey-bottom;
  h1 {
    margin: 0;
    a {
      color: $body-color;
    }
  }
  nav {
    float: right;
    margin-top: 15px;
    a {
      float: left;
      margin-left: 15px;
      font-size: 1.2em;
    }
  }
}

.content {
  h1 {
    margin: 0 0 10px;
  }
  background: #fff;
  #full_map {
    width: 100%;
    height: 300px;
  }
  .container {
    padding: 20px 0;
  }
}

/* Homepage */
.about {
  overflow: hidden;
  .block {
    width: 30%;
    float: left;
    border-right: 1px solid $dark-grey;
    padding: 0 15px;
    text-align: justify;
    &:last-child {
      border: none;
    }
  }
  .latest {
    .release {
      font-size: 1.8em;
      margin-bottom: 20px;
      .fa {
        font-size: 1.8em;
      }
      a {
        color: #333;
      }
    }
    ul {
      float: right;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1.2em;
    }

    .project-links {
      clear: both;
    }
  }
}

/* Posts */
.pagination {
  margin-bottom: 20px;
  font-size: 1.5em;
}
code {
  background: $light-grey;
  padding: 2px;
}
.highlight {
  background: $light-grey;
  border: 2px solid $dark-grey;
  margin: 20px 0;
  padding: 10px;
  max-height: 200px;
  overflow: auto;
  pre {
    margin: 0;
    code {
      padding: 0;
    }
  }
}

/* Table */
table {
  width: 100%;
  border: 1px solid $dark-grey;
  th, td {
    border: 1px solid $dark-grey;
    padding: 8px;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: $light-grey;
      }
      .type-both {
        background: $light-grey;
      }
      .type-interactive {
        background: #E6E4F2;
      }
      .type-static {
        background: #E4F2E6;
      }
    }
  }
}

.footer {
  @include block-grey-top;
  overflow: hidden;
  padding-bottom: 20px;
  .monkeecreate {
    float: right;
  }
  h3 {
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-right: 20px;
      &.developer {
        width: 250px;
      }
    }
  }
  img {
    width: 80px;
    float: left;
    margin-right: 15px;
    border-radius: 50em;
  }
  .name {
    display: block;
    font-size: 1.9em;
    margin-bottom: 10px;
  }
  .fa {
    color: $body-color;
    font-size: 2em;
    &:hover {
      color: $body-color-light;
      text-decoration: none;
    }
  }
}
