$light-grey: #F2F2F2;
$dark-grey: #DBDBDB;

@import 'mixins';

body {
  background-color: $light-grey;
  font: 14px Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: #4D4D4D;
    text-decoration: underline;
  }
}

.container {
  width: 965px;
  margin: 0 auto;
}

.header {
  @include block-grey-bottom;
  h1 {
    margin-top: 0;
  }
  nav {
    float: right;
    margin-top: 15px;
    a {
      float: left;
      margin-left: 15px;
      font-size: 1.2em;
    }
  }
}

.content {
  background: #fff;
  #full_map {
    width: 100%;
    height: 300px;
  }
  .container {
    padding: 20px 0;
  }
  h2 {
    margin: 0;
    &.tagline {
      font-size: 5em;
      text-align: center;
    }
  }
}

.footer {
  @include block-grey-top;
  .monkeecreate {
    float: right;
  }
  h3 {
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-right: 20px;
      &.developer {
        width: 250px;
      }
    }
  }
  img {
    width: 80px;
    float: left;
    margin-right: 15px;
    border-radius: 50em;
  }
  .name {
    display: block;
    font-size: 1.9em;
    margin-bottom: 10px;
  }
  .fa {
    font-size: 2em;
  }
}
