<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.15&libraries=geometry&sensor=false"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" charset="utf-8"></script>
  <script src="/js/gMaps/jquery.gMaps.js" charset="utf-8"></script>
  <script src="/js/app.min.js" charset="utf-8"></script>
</head>
<body>
  <div class="header">
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/docs.html">Docs</a>
        <a href="/examples.html">Examples</a>
        <a href="/faq.html">FAQ</a>
      </nav>
      <h1 class="title"><a href="/">{{ site.name }}</a></h1>
    </div>
  </div>
  <div class="content">
    {% if page.showMap == true %}
      <script>
      $(function() {
        $('#full_map').gMap({
          center: "Austin, TX",
          zoom: 10,
          streetview: false,
          markers: [
            {
              position: [30.320730,-97.733688]
            }
          ],
          error: function(element, error) {
            console.log(error);
          }
        });
      });
      </script>
      <div id="full_map"></div>
    {% endif %}
    <div class="container">

      {{ content }}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="monkeecreate">
        Handcrafted with ♥ from Austin, Texas.<br>
        monkeeSee, monkeeDo, <a href="http://monkeecreate.com/">monkeeCreate</a>
      </div>
      <ul>
        <li><h3>Developed by:</h3></li>
        <li class="developer">
          <img src="https://graph.facebook.com/defvayne23/picture?&width=100&height=100">
          <span class="name">John Hoover</span>
          <a href="http://github.com/defvayne23" class="fa fa-github"></a>
          <a href="http://twitter.com/defvayne23" class="fa fa-twitter"></a>
          <a href="http://defvayne23.com/" class="fa fa-rss-square"></a>
        </li>
      </ul>
    </div>
  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-734681-7', 'monkeecreate.com');
  ga('send', 'pageview');
  </script>
</body>
</html>
